<div>
  <select
    ng-if="options.length > 4"
    ng-model="$parent.model"
    ng-options="option.text for option in options"
  ></select>
<div class="row">
  <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
    </div>
  </div>
</div>

<div class="row">
  <div class"col-sm-4 col-sm-offset-6">
    <div
      ng-if="options.length <= 4"
      ng-repeat="option in options"
      >
    <label>
        <input
        class="text-center"
          type="radio"
          ng-model="$parent.$parent.model"
          ng-value="option"
          style="font-size: 40px !important"
        />
      {{option.text}}
    </label>
  </div>
  <input
    class="btn btn-primary"
    type="submit"
    value="Next"
    ng-click="action()"
    ng-hide="WIZARD_AUTOSUBMIT || !WIZARD_MULTIPAGE"
  />
    </div>
  </div>
</div>
