<div class="form-group" ng-class="{'has-error': adminGroupFormCtrl.hasError('group_name')}">
  <label class="col-sm-2 control-label" for="group_name">Group Name:</label>

  <div class="col-sm-6 controls">
    <input id="group_name" name="group_name" type="text" ng-model="adminGroupFormCtrl.group.group_name" ng-change="adminGroupFormCtrl.clearSubmitError('group_name')" class="form-control" required/>

    <div class="help-block">
      <div class="help-text" ng-show="adminGroupFormCtrl.hasError('group_name', 'required')">Group Name is Required.</div>
      <div class="help-text" ng-show="adminGroupFormCtrl.hasError('group_name', 'submitError')">{{adminGroupFormCtrl.getSubmitErrorValue('group_name')}}</div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>

<div class="form-group" ng-class="{'has-error': adminGroupFormCtrl.hasError('group_role')}">
    <label class="col-sm-2 control-label">Group Role:</label>

    <div class="col-sm-6 controls">
        <ui-select id="group_role" name="group_role" ng-model="adminGroupFormCtrl.group.group_role" ng-change="adminGroupFormCtrl.clearSubmitError('group_role')" theme="selectize" required />
        <ui-select-match>{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="group_role.value as group_role in adminGroupFormCtrl.group_roles">
            <span ng-bind-html-unsafe="group_role.name">{{group_role.name}}</span>
        </ui-select-choices>
        </ui-select>

        <div class="help-block">
            <div class="help-text" ng-show="adminGroupFormCtrl.hasError('group_role', 'required')">Group Role is Required</div>
            <div class="help-text" ng-show="adminGroupFormCtrl.hasError('group_role', 'submitError')">{{adminGroupFormCtrl.getSubmitErrorValue('group_role')}}</div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>

<div class="form-group" ng-class="{'has-error': adminGroupFormCtrl.hasError('group_description')}">
    <label class="col-sm-2 control-label">Group Description:</label>

    <div class="col-sm-6 controls">
    <textarea id="group_description" name="group_description" type="text" ng-model="adminGroupFormCtrl.group.group_description" ng-change="adminGroupFormCtrl.clearSubmitError('group_description')" class="form-control"></textarea>

        <div class="help-block">
            <div class="help-text" ng-show="adminGroupFormCtrl.hasError('group_description', 'required')">Group Description is Required</div>
            <div class="help-text" ng-show="adminGroupFormCtrl.hasError('group_description', 'submitError')">{{adminGroupFormCtrl.getSubmitErrorValue('group_description')}}</div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>

<section-header name="Add Users to Group">
    <div>
        <label class="col-sm-2 control-label" for="group_name">User Search:</label>

        <div class="col-sm-6 controls">
            <input id="user_email" name="user_email" placeholder="Email Address" type="text" ng-model="adminGroupFormCtrl.group.user_email" ng-change="adminGroupFormCtrl.clearSubmitError('user_email')" class="form-control" />

            <div class="help-block">
                <div class="help-text" ng-show="adminGroupFormCtrl.hasError('group_name', 'required')">User Email is Required.</div>
                <div class="help-text" ng-show="adminGroupFormCtrl.hasError('group_name', 'submitError')">{{adminGroupFormCtrl.getSubmitErrorValue('user_email')}}</div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</section-header>
