<section-header name="Groups">
    <div class="form-group">
        <label for="groups-input" class="col-sm-3 control-label">Add Group(s)</label>
        <div class="col-sm-3">
            <div angucomplete-alt
                 id="group_search"
                 placeholder="Search groups"
                 selected-object="addGroupToProject"
                 local-data="unaddedGroups"
                 search-fields="name"
                 title-field="name"
                 clear-selected="true"
                 minlength="0"
                 input-class="control-input"
            />
        </div>
    </div>
</section-header>

<div class="list-group list-group-block">
    <div href="#" class="list-group-item" ng-attr-id="{{'group-' + group.id}}" group="group" ng-repeat="group in project.groups">
        <span class="col-sm-3 list-group-item-heading">{{group.name}}</span>
        <span class="col-sm-5 list-group-item-text">{{group.description}}</span>
        <span class="col-sm-2 list-group-item-select"><select class="form-control" ng-model="role"><option value="role" disabled>Select role</option></select></span>
        <span class="col-sm-1 fr"><a href="#" ng-click="removeGroupFromProject(group)"><i class="fa fa-times fa-lg"></i></a></span>
    </div>
</div>


<!--<div class="list-group group-added">-->
    <!--<a href="#" class="list-group-item" ng-attr-id="{{'group-' + group.id}}" group="group" ng-repeat="group in project.groups">-->
        <!--<div class="list-group-item-heading">-->
            <!--{{group.name}}-->
            <!--<a href="#" class="fr" ng-click="removeGroupFromProject(group)"><i class="fa fa-times fa-lg"></i></a>-->
            <!--{{group.description}}-->
            <!--<select ng-model="role"><option value="role" disabled> Select role </option></select>-->
        <!--</div>-->
    <!--</a>-->
<!--</div>-->